<!DOCTYPE HTML>
<html lang="zh-cn">
<style>

	div{

		margin:auto;
        }
</style>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>个人资料</title>

	<link href="/static/plugins/bootstrap-3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="/static/plugins/material-design-iconic-font-2.2.0/css/material-design-iconic-font.min.css" rel="stylesheet"/>
	<link href="/static/plugins/bootstrap-table-1.11.0/bootstrap-table.min.css" rel="stylesheet"/>
	<link href="/static/plugins/waves-0.7.5/waves.min.css" rel="stylesheet"/>
	<link href="/static/plugins/jquery-confirm/jquery-confirm.min.css" rel="stylesheet"/>
	<link href="/static/plugins/select2/css/select2.min.css" rel="stylesheet"/>

	<link href="/static/css/common.css" rel="stylesheet"/>
</head>
<body>
<!-- 新增 -->
<div id="main" style="width: 300px;">
	<div id=div_input1 >
		<label for="input1">用户名</label>
		<input id="input1" type="text" value={{username}} class="form-control" disabled="disabled">
	</div>
	<div id=div_input2 >
		<label for="input2">密码</label>
		<input id="input2" type="text" value={{password}} class="form-control">
	</div>
	<div id=div_input10 >
		<label for="input10">确认密码</label>
		<input id="input10" type="text" value={{password}} class="form-control">
	</div>
	<div id=div_input3 hidden>
		<label for="input3">权限</label>
		<input id="input3" type="text" value={{authority}} class="form-control">
	</div>
	<div id=div_input4 hidden>
		<label for="input4">公司名称</label>
		<input id="input4" type="text" value={{name}} class="form-control">
	</div>
	<div id=div_input5 hidden>
		<label for="input5">公司地址</label>
		<input id="input5" type="text" value={{address}}  class="form-control">
	</div>
	<div id=div_input6 hidden>
		<label for="input6">负责人</label>
		<input id="input6" type="text" value={{charger}}  class="form-control">
	</div>
	<div id=div_input7 hidden>
		<label for="input7">负责人电话</label>
		<input id="input7" type="text" value={{phone}} class="form-control">
	</div>
	<div id=div_input8 hidden>
		<label for="input8">负责人邮箱</label>
		<input id="input8" type="text" value={{email}}  class="form-control">
	</div>
</div>
<div id="toolbar" style="width: 300px;">
	<a class="waves-effect waves-button"  onclick="xiugai()"><i class="zmdi zmdi-plus"></i> 确定修改</a>
	<a class="waves-effect waves-button" onclick="fanhui()"><i class="zmdi zmdi-close"></i> 返回</a>
</div>
<script src="/static/plugins/jquery.1.12.4.min.js"></script>
<script src="/static/plugins/bootstrap-3.3.0/js/bootstrap.min.js"></script>
<script src="/static/plugins/bootstrap-table-1.11.0/bootstrap-table.min.js"></script>
<script src="/static/plugins/bootstrap-table-1.11.0/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/static/plugins/waves-0.7.5/waves.min.js"></script>
<script src="/static/plugins/jquery-confirm/jquery-confirm.min.js"></script>
<script src="/static/plugins/select2/js/select2.min.js"></script>

<script src="/static/js/common.js"></script>
<script>
	
function xiugai(){	
	$.alert("修改中请稍等...  (*请不要点击确认！等待成功后自动跳转！)")
	var a,b,c,d,e,f,g,h;
	a=document.getElementById("input1").value;
	b=document.getElementById("input2").value;
	c=document.getElementById("input3").value;
	d=document.getElementById("input4").value;
	e=document.getElementById("input5").value;
	f=document.getElementById("input6").value;
	g=document.getElementById("input7").value;
	h=document.getElementById("input8").value;
	k=document.getElementById("input10").value;
	if(b==k){
		$.ajax({
			url: "axis_xgmm/",
			type: 'POST',
			headers: {"X-CSRFToken":'{{ csrf_token  }}' },
			data: {"username": a,
			"password": b,
			"authority": c,
			"name": d,
			"address": e,
			"charger" : f,
			"phone": g,
			"email": h},
			dataType:'json',
			success: function (e) {
				if (e.result=="1"){
					$.alert("修改成功！")
					window.history.go(-1);
				}
			}
			
    	})
	}
	else{
		alert("两次输入不同！")
	}

	
}

function fanhui(){
		window.history.go(-1);
	}
	

</script>
</body>
</html>